name: generate snake
on:
  schedule:
    - cron: "0 12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: kanzur
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark
